:root:not([data-theme="light"]) {
    --background-color: #070604;
}

html, body {
    height: 100%;
}

.background {
    position: relative;
    background-image: url(img/background.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: calc(100vw * 1.4979);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 100%);
}

h1, h2 {
    width: 100%;
    font-size: 15vw;
    letter-spacing: 0.1ex;
}

h1, h1 *, h2 {
    position: absolute;
}

h1 {
    font-weight: 200;
    color: #002342;
    text-shadow: 0 0 0.05ex #afa6b9, 0 0 0.1ex #afa6b9;
}

h1 .lebt {
    right: 3ex;
}

h1 strong {
    font-size: 150%;
    font-weight: 700;
    top: 0.5ex;
    left: 2ex;
    z-index: -5;
}

h1 .noch {
    right: 2ex;
    top: 3.2ex;
}

h2 {
    top: 7ex;
    padding-left: 7ex;
    color: #ded3db;
    text-shadow: 0 0 0.05ex #002342, 0 0 0.1ex #002342, 0 0 0.2ex #002342;
}

h2 em {
    font-weight: 200;
}

footer p {
    text-align: center;
    font-size: 75%;
    opacity: 0.8;
}
